body {
  padding-left: 300px;
  padding-top: 100px;
}

.box {
  background-color: blue;
  text-align: center;
  padding-top: 20px;
  color: aliceblue;
  font-size: 20px;
  font-weight: 900;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    width: 1200px;
    height: 400px;
}

.box1 {
    grid-column: span 2;
    background-color: #c9316b;
}

.box2 {
    grid-column: span 3;
    grid-row: span 2;
    background-color: #ca319d;
}

.box3 {
    grid-column: span 5;
    grid-row: span 4;
    background-color: #ed6e62;
}

.box4 {
    grid-column: span 2;
    background-color: #efc437;
}

.box5 {
    grid-column: span 2;
    background-color: #538c45;
}

.box6 {
    grid-column: span 2;
    background-color: #267c87;
}

.box7 {
    grid-column: span 2;
    background-color: #799928;
}

.box8 {
    background-color: #478755;
}

.box9 {
 grid-column: span 2;
 background-color: #30c9c2;
}

.box10 {
    grid-column: span 2;
    background-color: #31c98f;
}

.box11 {
    grid-column: span 5;
    background-color: #544079;
}

.box12 {
    grid-column: span 2;
    background-color: #de212f;
}